In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('abcdefg'))
s

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [3]:
s.unique()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype=object)

In [7]:
s.value_counts()    #função para contar quantas vezes os tipos dos caracteres foram utilizados

a    1
b    1
c    1
d    1
e    1
f    1
g    1
Name: count, dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep =';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [13]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'


eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df


# value_counts() é uma funcionalidade aplicável somente a Series e, por isso, precisamos executar o código para cada coluna do DataFrame, individualmente.

   Faces  count  count  count  count  count
c   Cara     25     26     19     23     25
C  Coroa     25     24     31     27     25