# Relatório de Análise IV

## Seleções e Frequência

In [2]:
import pandas as pd

In [5]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [11]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
selecao.head(10)

n1 = dados[selecao].shape[0]
n1

16923

In [22]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

n2 = dados[selecao].shape[0]
n2

2095

In [25]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
# 60 <= Area <= 100 

selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)

n3 = dados[selecao].shape[0]
n3

8362

In [30]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Valor'] < 2000) & (dados['Quartos'] >= 4)

n4 = dados[selecao].shape[0]
n4

36

In [ ]:
print("N° somente os imóveis classificados com tipo 'Apartamento' -> {}.".format(n1))
print("N° os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {} ".format(n2))
print("N° os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.